body{
    background-color:  rgb(226, 223, 223);

}

h1{
    text-align: center;
}

h1 ,p{
    text-align: center;
    font-size: 10vh;
    font-style: italic;
}


h2{
    text-align: center;
}

a{
    text-decoration: none;
}

table{
    display: flex;
    justify-content: center;
    font-size: 4vh;
    padding: 1%;
    

}

tr{
    color: white;
    font-size: 80%;
    background-color: gray;
    height: 100%;
    width: 100%;
}

th{
    background-color: rgb(0, 0, 0);
    /* border: solid 2px black; */
    height: 100%;
    width: 100vw;
    /* padding: 1%; */
}



td{
    background-color: gray;
    /* border: solid 2px black; */
    height: 5vh;
    width: 60vw;
    /* margin-left: 10%; */
    text-align: center;


  
}



.cartBtnAdd{
    background-color: rgb(20, 157, 161);
    height: 5vh;
    width: 10%;
    margin-left: 40%;
}

.cartBtnDelate{
    background-color: rgb(253, 68, 68);
    height: 5vh;
    width: 10%;
    margin-left: 2%;
}

footer{
    text-align: center;
}

@media screen and (max-width:768px){
    table{
        width: 100%;
        
    }

}


@media screen and (max-width:426px){
    body{
        height: 100%;
        width: 100%;
    }
    ul{
        flex-wrap: wrap;

    }
    a{
        margin: 1%;
        padding: 5px;
    }
    tr{
        width: 40vw;
    }
    .cartBtnAdd{
        margin-left: 40%;
    }
    .cartBtnDelate{
        padding: 1px;
    }

}

